# HOME WORK 1
## Complete this section and turn in before the next class

## 1. Create an empty Python list called 'a'

In [1]:
a = list()
print(a)

[]

## 2. Store all values between 1-100 with increments of 03 (w/o Numpy) in 'a'

In [3]:
a = list(range(1,101,3))
print(a)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97, 100]

## 3. Create a list called 'a2' with numbers fro 2-46 with 0.5 increments

In [4]:
import numpy as np

a2 = np.arange(2,46.5,.5)
print(a2)

[  2.    2.5   3.    3.5   4.    4.5   5.    5.5   6.    6.5   7.    7.5
   8.    8.5   9.    9.5  10.   10.5  11.   11.5  12.   12.5  13.   13.5
  14.   14.5  15.   15.5  16.   16.5  17.   17.5  18.   18.5  19.   19.5
  20.   20.5  21.   21.5  22.   22.5  23.   23.5  24.   24.5  25.   25.5
  26.   26.5  27.   27.5  28.   28.5  29.   29.5  30.   30.5  31.   31.5
  32.   32.5  33.   33.5  34.   34.5  35.   35.5  36.   36.5  37.   37.5
  38.   38.5  39.   39.5  40.   40.5  41.   41.5  42.   42.5  43.   43.5
  44.   44.5  45.   45.5  46. ]

 ## 4. Double every even integer element of list 'a' from #2 
 ##  Store the results back in 'a'.

In [5]:
a = np.arange(1,101,3)
for idx, val in enumerate(a):
    if (a[idx] % 2 == 0):
        a[idx] = 2*a[idx]
print(a)

[  1   8   7  20  13  32  19  44  25  56  31  68  37  80  43  92  49 104
  55 116  61 128  67 140  73 152  79 164  85 176  91 188  97 200]

## 5. Add all numbers in 'a' (except for the 2nd and the 21st element).

In [8]:
sum = np.sum(np.delete(a,[1,20]))
print(sum)

2532

## 6. Calculate the mean of a

In [11]:
mean = np.mean(a)
print(mean)

76.5

# LISTS AND STRINGS:
## 7. Create an empty list called b

In [13]:
b = list()
print(b)

[]

## 8. In b store every word in the sentence as an element of its own.
### sentence:'I am so excited about Data-X. It is important to be able to work with data.'

In [14]:
b = list()
b.append('I')
b.append('am')
b.append('so')
b.append('excited')
b.append('about')
b.append('Data-X')
b.append('.')
b.append('It')
b.append('is')
b.append('important')
b.append('to')
b.append('be')
b.append('able')
b.append('to')
b.append('work')
b.append('with')
b.append('data')
print(b)

['I', 'am', 'so', 'excited', 'about', 'Data-X', '.', 'It', 'is', 'important', 'to', 'be', 'able', 'to', 'work', 'with', 'data']

## 9. Count the occurences of the lower-case letter ’e’ in the list b.

In [15]:
ct = 0
for let in b:
    temp = let.count('e')
    ct = ct + temp
ct

4

## 10. Replace every lower- or upper-case letter ’i’ in the list b with a ’1’

In [16]:
for idx, let in enumerate(b):
    b[idx] = let.replace('i', '1').replace('I','1')
b

['1',
 'am',
 'so',
 'exc1ted',
 'about',
 'Data-X',
 '.',
 '1t',
 '1s',
 '1mportant',
 'to',
 'be',
 'able',
 'to',
 'work',
 'w1th',
 'data']

## 11. Append the string ”This is the end of the first HW” to the list b, 
## with every new word as an element of its own

In [18]:
b.append('This')
b.append('is')
b.append('the')
b.append('end')
b.append('of')
b.append('the')
b.append('first')
b.append('HW')
print(b)

['1', 'am', 'so', 'exc1ted', 'about', 'Data-X', '.', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data', 'This', 'is', 'the', 'end', 'of', 'the', 'first', 'HW']

## 12. Print b, as ONE string backwards (starting with ”WH tsrif ...”)

In [19]:
b = " ".join(b)
b = b[::-1]
print(b)

WH tsrif eht fo dne eht si sihT atad ht1w krow ot elba eb ot tnatropm1 s1 t1 . X-ataD tuoba det1cxe os ma 1



## 13. Put the following in a dictionary called 'codes':
### Keys: 1001, 1002, 1003, 1004, 1005   
### Values: 'Alpa', Beta, 'Gamma, 'Delta', 'Tau'

## then traverse the dictionary by keys and change every value to be all lower case

In [20]:
codes = {}
codes['1001'] = 'Alpa'
codes['1002'] = 'Beta'
codes['1003'] = 'Gamma'
codes['1004'] = 'Delta'
codes['1005'] = 'Tau'

for k, v in codes.items():               
    v = str.lower(v)
    print (k,v)

1005 tau
1004 delta
1002 beta
1001 alpa
1003 gamma

## 14. Set A=( 1,3,5,7,8,9) Set B=(2,5,30,10).
## Find Union of A and B.

In [25]:
A=( 1,3,5,7,8,9) 
B=(2,5,30,10)
union = set(A)|set(B)
union

{1, 2, 3, 5, 7, 8, 9, 10, 30}