![data-x](http://oi64.tinypic.com/o858n4.jpg) 

## Break Out with Homework - BKHW 1

#### Authors: Alexander Fred Ojala & Ikhlaq Sidhu

---

# Quick Review of Python Topics

In [ ]:
# for Python Version 3
import sys
print(sys.version)

In [ ]:
#calculator
print (2.1 + 2)
print (10 * 10)
print (3 == 1)
print (7//3) # is floor
print (7.0/3)
print (float(7) / 3)
print (type (2))
print (type (2.0))

In [ ]:
# more numbers
print (complex (2,1))
a = 3; b = 5
print (b**a) # ** is 'to the power'
print (5%3)  # mod = remainder

In [ ]:
# boolean
a = True; b = False; c = True
print (a and b)
print (a or b)

In [ ]:
print (isinstance(1,int))
print (isinstance(2.5,int))

## String slicing and indices
<img src="spam.png" width="480">

In [ ]:
# Strings and slicing
x = "abcdefghijklmnopqrstuvwxyz"
print(x[1])
print (type(x))
print ("length = ",len(x))
print (x)
print (x[1:25:1]) # start:stop:step
print (x[::3])
print (x[::-1])
print (x[len(x)-1:1:-2])

In [ ]:
# Triple quotes are useful for multiple line strings
y = '''The quick brown 
fox jumped over 
the lazy dog.'''
print (y)
# tokenize by space
words = y.split(' ')
print (words)
words = y.split()
print (words)
print ('-'.join(words))  # put the list back into a sting with join

In [ ]:
# data structures - tuple
t = ('a','b', 3)
print (t) 
print (type (t))
isinstance(t,tuple)
t[1]

In [22]:
y = list()
type(y)
y.append('hello')
#print(y)
y.append('world')
y.pop(1)
print(y)

['hello']

In [23]:
#data structure - list
y = list()
y.append("hello")
y.append("world")
print (y)
y.pop(1); print (y) # remove position 1

['hello', 'world']
['hello']

In [ ]:
# list of numbers
y = list(range(0,20,2))
print (y)

In [34]:
z = [1,4,'c',4, 2, 6]
print (z)
print ('c' in z, 'd' in z)  # its easy to know if an element is in a list
print (type(z))
print (len(z))
print (z[2])  # print element in position #2
print ("---")
for i in z: # traverse list with loop
    print (i)

[1, 4, 'c', 4, 2, 6]
True False
<class 'list'>
6
c
---
1
4
c
4
2
6

In [ ]:
z.sort() # doesn't work
z.pop(2)
z.sort()
print (z)
print (z.count(4))  # how many times is there a 4

In [33]:
# loop examples
for x in z:
    print ("this item is ", x)
print("---")
for i,x in enumerate(z):
    print ("item ", i," is ", x )
print ("---") 
for i in range(0,10,2):
    print (i)

NameError: name 'z' is not defined

In [19]:
# list comprehesion is like f(x) for x as an element of Set X
# S = {x² : x in {0 ... 9}}
S = [x**2 for x in range(10)]
print (S)
# M = {x | x in S and x even}
M = [x for x in S if x % 2 == 0]
print (M)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [20]:
# a set is not ordered
a = set([1, 2, 3, 4, 5]); print (a)
b = set('abcdef'); print (b)
print (a|b)
print (a|b - set([1,3,5,'c', 'e']))
a.remove(5); print (a) # removes the '5'

{1, 2, 3, 4, 5}
{'f', 'd', 'c', 'e', 'b', 'a'}
{1, 2, 3, 4, 5, 'f', 'd', 'c', 'e', 'b', 'a'}
{1, 2, 3, 4, 5, 'f', 'd', 'b', 'a'}
{1, 2, 3, 4}

In [169]:
# Dictionaries, many ways to create them
# First way to create a dictionary is just to assign it
D1 = {'f1': 10, 'f2': 20, 'f3':25}              
print ("Use key 'f2' to access value: ", D1['f2'])

# 2. creating a dictionary using the dict()
D2 = dict(f1=10, f2=20, f3 = 30)
print (D2['f3'])

# 3. Another way, start with empty dictionary
D3 = {}
D3['f1'] = 10
D3['f2'] = 20
print (D3['f1'])

# 4th way, start with list of key-value tuples
y = [('f1', 10), ('f2', 40),('f3',60)]
D4 = dict(y)
print (D4['f2'])

#5 From keys
keys = ('a', 'b', 'c')
D5 = dict.fromkeys(keys)               # new dict with empty values
print (D5['c'])
# print D5['x'] but this will give an error

# Dictionaries can be more complex, ie dictionary of dictionary or of tuples, etc.
D5['a'] = D1; D5['b'] = D2
print (D5['a']['f3'])

Use key 'f2' to access value:  20
30
10
40
None
25

In [ ]:
# traversing by key
# key is imutable, key can be number or string
for k in D1.keys():
    print (k)
print ("- or simply -")
for k in D1: print(k)

In [ ]:
# traversing by values
for v in D2.values(): print(v)

In [ ]:
# traverse by key and value is called item
for k, v in D1.items():                # tuples with keys and values
    print (k,v)

In [ ]:
# input
# raw_input() was renamed to input() in Python v3.x
# The old input() is gone, but you can emulate it with eval(input())

print ("Input a number:")
s = input()  # returns a string
a = int(s)
print ("The number is ", a)

# HOME WORK 1
## Complete this section and turn in before the next class

## 1. Create an empty Python list called 'a'

In [10]:
a = list()
a

[]

## 2. Store all values between 1-100 with increments of 03 (w/o Numpy) in 'a'

In [116]:
a = list(range(1,101,3))
a

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97,
 100]

## 3. Create a list called 'a2' with numbers fro 2-46 with 0.5 increments

In [117]:
import numpy as np

a2 = np.arange(2,46.5,.5)
a2

array([  2. ,   2.5,   3. ,   3.5,   4. ,   4.5,   5. ,   5.5,   6. ,
         6.5,   7. ,   7.5,   8. ,   8.5,   9. ,   9.5,  10. ,  10.5,
        11. ,  11.5,  12. ,  12.5,  13. ,  13.5,  14. ,  14.5,  15. ,
        15.5,  16. ,  16.5,  17. ,  17.5,  18. ,  18.5,  19. ,  19.5,
        20. ,  20.5,  21. ,  21.5,  22. ,  22.5,  23. ,  23.5,  24. ,
        24.5,  25. ,  25.5,  26. ,  26.5,  27. ,  27.5,  28. ,  28.5,
        29. ,  29.5,  30. ,  30.5,  31. ,  31.5,  32. ,  32.5,  33. ,
        33.5,  34. ,  34.5,  35. ,  35.5,  36. ,  36.5,  37. ,  37.5,
        38. ,  38.5,  39. ,  39.5,  40. ,  40.5,  41. ,  41.5,  42. ,
        42.5,  43. ,  43.5,  44. ,  44.5,  45. ,  45.5,  46. ])

 ## 4. Double every even integer element of list 'a' from #2 
 ##  (i.e., 2.0, 4.0, 6.0 etc).  Store the results back in 'a'.

In [165]:
a = np.arange(1,101,3)
for idx, val in enumerate(a):
    if (a[idx] % 2 == 0):
        a[idx] = 2*a[idx]
print(a)

[  1   8   7  20  13  32  19  44  25  56  31  68  37  80  43  92  49 104
  55 116  61 128  67 140  73 152  79 164  85 176  91 188  97 200]

2601

## 5. Add all numbers in 'a' (except for the 32nd and the 51st element). 
## Note element 1 is at index 0.

In [166]:
print('because therre is no 51st element so I will only ignore the 32nd')
sum = np.sum(np.delete(a,31))
print(sum)

because therre is no 51st element so I will only ignore the 32nd
2413

## 6. Calculate the mean of a

In [168]:
mean = np.mean(a)
mean

76.5

# LISTS AND STRINGS:
## 7. Create an empty list called b

In [21]:
b = list()

## 8. In b store every word in the sentence as an element of its own.
### sentence:'I am so excited about Data-X. It is important to be able to work with data.'

In [106]:
b = list()
b.append('I')
b.append('am')
b.append('so')
b.append('excited')
b.append('about')
b.append('Data-X')
b.append('.')
b.append('It')
b.append('is')
b.append('important')
b.append('to')
b.append('be')
b.append('able')
b.append('to')
b.append('work')
b.append('with')
b.append('data')
b

['I',
 'am',
 'so',
 'excited',
 'about',
 'Data-X',
 '.',
 'It',
 'is',
 'important',
 'to',
 'be',
 'able',
 'to',
 'work',
 'with',
 'data']

## 9. Count the occurences of the lower-case letter ’e’ in the list b.

In [107]:
ct = 0
for let in b:
    temp = let.count('e')
    ct = ct + temp
ct

4

## 10. Replace every lower- or upper-case letter ’i’ in the list b with a ’1’

In [108]:
for idx, let in enumerate(b):
    b[idx] = let.replace('i', '1').replace('I','1')
b

['1',
 'am',
 'so',
 'exc1ted',
 'about',
 'Data-X',
 '.',
 '1t',
 '1s',
 '1mportant',
 'to',
 'be',
 'able',
 'to',
 'work',
 'w1th',
 'data']

## 11. Append the string ”This is the end of the first HW” to the list b, 
## with every new word as an element of its own

In [109]:
b.append('This')
b.append('is')
b.append('the')
b.append('end')
b.append('of')
b.append('the')
b.append('first')
b.append('HW')

## 12. Print b, as ONE string backwards (starting with ”WH tsrif ym...”)

In [110]:
b = " ".join(b)
b = b[::-1]
print(b)

WH tsrif eht fo dne eht si sihT atad ht1w krow ot elba eb ot tnatropm1 s1 t1 . X-ataD tuoba det1cxe os ma 1

# DICTIONARIES

## 13. Put the following in a dictionary called 'codes':
### Keys: 1001, 1002, 1003, 1004, 1005   
### Values: 'Alpa', Beta, 'Gamma, 'Delta', 'Tau'

## then traverse the dictionary by keys and change every value to be all lower case

In [180]:
codes = {}
codes['1001'] = 'Alpa'
codes['1002'] = 'Beta'
codes['1003'] = 'Gamma'
codes['1004'] = 'Delta'
codes['1005'] = 'Tau'

for k, v in codes.items():               
    v = str.lower(v)
    print (k,v)

1002 beta
1005 tau
1003 gamma
1001 alpa
1004 delta